[submodule "forms"]
        path = dennisbrotzky/forms
        url = https://github.com/brotzky/forms.git
[submodule "face"]
        path = dennisbrotzky/face
        url = https://github.com/brotzky/css_drawing.git
[submodule "codecore"]
        path = dennisbrotzky/codecore
        url = https://github.com/brotzky/codecore.git
